---
import ProjectItem from "./ProjectItem.astro";

const PROJECTS = [
  {
    title: "EcommercePortfolio",
    description:"Portfolio project integrating the classic functionalities of a web application. The subject of the application is e-commerce.",
    linkDeploy: "https://matias248.github.io/reactEcommercePortfolio/",
    linkGithubProject: "https://github.com/matias248/reactEcommercePortfolio",
    technologiesFrontEnd:"React js - Typescript - Tailwind - Jest - Cypress ",
    technologiesBackEnd:"Node js - Express - MongoDB - Mongoose - Jest ",
    technologiesOthers:"Github Actions - Git - Github Pages ",
    imagesGallery:["/imageProject1-1.webp","/imageProject1-2.webp","/imageProject1-3.webp","/imageProject1-4.webp"]
  },
  {
    title: "EcommercePortfolio-AngularSpringVersion",
    description:"Same project as project 1 but with different technologies.",
    linkDeploy: "https://matias248.github.io/AngularSpringEcommerce/",
    linkGithubProject: "https://github.com/matias248/AngularSpringEcommerce",
    technologiesFrontEnd:"Angular 17 - Typescript - Tailwind - Cypress ",
    technologiesBackEnd:"Spring - Springboot - Java - Junit ",
    technologiesOthers:"Github Actions - Git - Github Pages ",
  },
  {
    title: "EcommercePortfolio-VueDjangoVersion",
    description:"Same project as project 1 and 2 but with different technologies.",
    linkDeploy: "https://matias248.github.io/VueDjangoEcommerce/#/",
    linkGithubProject: "https://github.com/matias248/VueDjangoEcommerce",
    technologiesFrontEnd:"Vue js - Typescript - Tailwind - Cypress ",
    technologiesBackEnd:"Django - Django Rest Framework - Python",
    technologiesOthers:"Github Actions - Git - Github Pages ",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    PROJECTS.map((project) => (
      <li class="mb-10 ms-4">
        <ProjectItem {...project} />
      </li>
    ))
  }
</ol>
