---
import ProjectItem from "./ProjectItem.astro";

const PROJECTS = [
  {
    title: "EcommercePortfolio",
    description:"Platform designed to simulate a simple e-commerce.",
    linkDeploy: "https://matias248.github.io/reactEcommercePortfolio/",
    linkGithubProject: "https://github.com/matias248/reactEcommercePortfolio",
    technologiesFrontEnd:"React js - Typescript - Tailwind - Jest - Cypress ",
    technologiesBackEnd:"Node js - Express - MongoDB - Mongoose - Jest ",
    technologiesOthers:"Github Actions - Git - Github Pages ",
    imagesGallery:["/imageProject1-1.webp","/imageProject1-2.webp","/imageProject1-3.webp","/imageProject1-4.webp"]
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    PROJECTS.map((project) => (
      <li class="mb-10 ms-4">
        <ProjectItem {...project} />
      </li>
    ))
  }
</ol>
